/* Advertising */
p, h2, h3, h1{
    margin: 0;
}
.advertising_wrapp{
    height: auto;
    background: #fefbfb;
    width: 785px;
    border: 1px solid #dcdada;
    border-radius: 8px;
    float: left;
    margin-bottom: 20px;
    padding: 26px 30px 30px 30px;
}
.advertising_wrapp h2{
    font: 20px 'Lato', sans-serif;
    color: #000;
    font-weight: 900;
    padding-bottom: 20px;
}
.advertising_wrapp .txt_1{
    font: 16px 'Lato', sans-serif;
    padding-top: 4px;
    padding-bottom: 19px;
}
.advertising_wrapp .txt_2{
    font: 16px 'Lato', sans-serif;
}
.advertising_wrapp .txt_2 a{
    color: #8cb9d9;
    cursor: pointer;
}
.advertising_wrapp .txt_2 span{
    color: #8cb9d9;
}
.advertising_wrapp hr{
    width: 100%;
    height: 1px;
    background: #e5e3e3;
    color: #e5e3e3;
    border: none;
    margin: 17px 0 0 0;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.08);
    -moz-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.08);
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.08);
}
.advertising_wrapp h3{
    font: 18px 'Lato', sans-serif;
    font-weight: 700;
    padding-top: 11px;
}
.advertising_wrapp .zakazBt{
    height: 34px;
    width: 84px;
    text-align: center;
    color: #fff;
    display: block;
    text-decoration: none;
    font: 18px 'Lato', sans-serif;
    border-radius: 4px;
    margin-top: 7px;
    padding: 0 8px;
    cursor: pointer;
    background: #8cb9d9;
    line-height: 33px;
    -webkit-box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.39);
    -moz-box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.39);
    box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.39);
}
.advertising_wrapp .bt_mar{
    margin-bottom: 39px;
}
/* Advertising */