/* Archive-auctions */
p, h2, h3, h1{
    margin: 0;
}
.purchase_wrapp{
    height: auto;
    background: #fefbfb;
    width: 785px;
    border: 1px solid #dcdada;
    border-radius: 8px;
    float: left;
    margin-bottom: 20px;
    padding: 26px 30px 30px 30px;
}
.purchase_wrapp h2{
    font: 20px 'Lato', sans-serif;
    color: #000;
    font-weight: 900;
    padding-bottom: 20px;
}
.purchase_wrapp .txt_1{
    font: 16px 'Lato', sans-serif;
    padding-top: 4px;
    padding-bottom: 19px;
}
.purchase_wrapp .txt_2{
    font: 16px 'Lato', sans-serif;
}
.purchase_wrapp .txt_2 a{
    color: #8cb9d9;
    cursor: pointer;
}
.purchase_wrapp form{
    width: 460px;
    height: auto;
    margin-top: 34px;
}
.purchase_wrapp form label{
    width: 176px;
    display: block;
    float: left;
    font: 16px 'Lato', sans-serif;
    line-height: 30px;
}
.purchase_wrapp form input[type=text]{
    width: 268px;
    height: 28px;
    border: 1px solid #dcdada;
    border-radius: 4px;
    font: 16px 'Lato', sans-serif;
    padding-left: 10px;
    margin-bottom: 15px;
}
.purchase_wrapp form textarea{
    width: 266px;
    height: 180px;
    border: 1px solid #dcdada;
    border-radius: 4px;
    font: 16px 'Lato', sans-serif;
    padding-left: 10px;
    padding-top: 8px;
    resize: none;
    margin-bottom: 15px;
}
.purchase_wrapp form input[type=file]{
    width: 268px;
    height: 28px;
    border-radius: 4px;
    font: 14px 'Lato', sans-serif;
    font-weight: 300;
    margin-top: 3px;
    margin-bottom: 15px;
}
.purchase_wrapp form .capcha{
    width: 96px;
    height: 34px;
    margin-left: 176px;
    margin-bottom: 15px;
}
.purchase_wrapp form input[type=submit]{
    height: 34px;
    width: 113px;
    color: #fff;
    display: block;
    font: 18px 'Lato', sans-serif;
    border-radius: 4px;
    margin-left: 176px;
    cursor: pointer;
    border: none;
    background: #8cb9d9;
    -webkit-box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.39);
    -moz-box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.39);
    box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.39);
}
.purchase_wrapp .txt_3{
    font: 14px 'Lato', sans-serif;
    font-weight: 300;
    font-style: italic;
    padding-top: 50px;
}
/* Archive-auctions */