/*! normalize.css v4.1.1 | MIT License | github.com/necolas/normalize.css */

/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Prevent adjustments of font size after orientation changes in IE and iOS.
 */

 html {
 	font-family: sans-serif; /* 1 */
 	-ms-text-size-adjust: 100%; /* 2 */
 	-webkit-text-size-adjust: 100%; /* 2 */
 }

/**
 * Remove the margin in all browsers (opinionated).
 */

 body {
 	margin: 0;
 }

/* HTML5 display definitions
========================================================================== */

/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 * 2. Add the correct display in IE.
 */

 article,
 aside,
 details, /* 1 */
 figcaption,
 figure,
 footer,
 header,
 main, /* 2 */
 menu,
 nav,
 section,
 summary { /* 1 */
 	display: block;
 }

/**
 * Add the correct display in IE 9-.
 */

 audio,
 canvas,
 progress,
 video {
 	display: inline-block;
 }

/**
 * Add the correct display in iOS 4-7.
 */

 audio:not([controls]) {
 	display: none;
 	height: 0;
 }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

 progress {
 	vertical-align: baseline;
 }

/**
 * Add the correct display in IE 10-.
 * 1. Add the correct display in IE.
 */

 template, /* 1 */
 [hidden] {
 	display: none;
 }

/* Links
========================================================================== */

/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */

 a {
 	background-color: transparent; /* 1 */
 	-webkit-text-decoration-skip: objects; /* 2 */
 }

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */

 a:active,
 a:hover {
 	outline-width: 0;
 }

/* Text-level semantics
========================================================================== */

/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

 abbr[title] {
 	border-bottom: none; /* 1 */
 	text-decoration: underline; /* 2 */
 	text-decoration: underline dotted; /* 2 */
 }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */

 b,
 strong {
 	font-weight: inherit;
 }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

 b,
 strong {
 	font-weight: bolder;
 }

/**
 * Add the correct font style in Android 4.3-.
 */

 dfn {
 	font-style: italic;
 }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

 h1 {
 	font-size: 2em;
 	margin: 0.67em 0;
 }

/**
 * Add the correct background and color in IE 9-.
 */

 mark {
 	background-color: #ff0;
 	color: #000;
 }

/**
 * Add the correct font size in all browsers.
 */

 small {
 	font-size: 80%;
 }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

 sub,
 sup {
 	font-size: 75%;
 	line-height: 0;
 	position: relative;
 	vertical-align: baseline;
 }

 sub {
 	bottom: -0.25em;
 }

 sup {
 	top: -0.5em;
 }

/* Embedded content
========================================================================== */

/**
 * Remove the border on images inside links in IE 10-.
 */

 img {
 	border-style: none;
 }

/**
 * Hide the overflow in IE.
 */

 svg:not(:root) {
 	overflow: hidden;
 }

/* Grouping content
========================================================================== */

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

 code,
 kbd,
 pre,
 samp {
 	font-family: monospace, monospace; /* 1 */
 	font-size: 1em; /* 2 */
 }

/**
 * Add the correct margin in IE 8.
 */

 figure {
 	margin: 1em 40px;
 }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

 hr {
 	box-sizing: content-box; /* 1 */
 	height: 0; /* 1 */
 	overflow: visible; /* 2 */
 }

/* Forms
========================================================================== */

/**
 * 1. Change font properties to `inherit` in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */

 button,
 input,
 select,
 textarea {
 	font: inherit; /* 1 */
 	margin: 0; /* 2 */
 }

/**
 * Restore the font weight unset by the previous rule.
 */

 optgroup {
 	font-weight: bold;
 }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

 button,
 input { /* 1 */
 	overflow: visible;
 }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

 button,
 select { /* 1 */
 	text-transform: none;
 }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */

 button,
 html [type="button"], /* 1 */
 [type="reset"],
 [type="submit"] {
 	-webkit-appearance: button; /* 2 */
 }

/**
 * Remove the inner border and padding in Firefox.
 */

 button::-moz-focus-inner,
 [type="button"]::-moz-focus-inner,
 [type="reset"]::-moz-focus-inner,
 [type="submit"]::-moz-focus-inner {
 	border-style: none;
 	padding: 0;
 }

/**
 * Restore the focus styles unset by the previous rule.
 */

 button:-moz-focusring,
 [type="button"]:-moz-focusring,
 [type="reset"]:-moz-focusring,
 [type="submit"]:-moz-focusring {
 	outline: 1px dotted ButtonText;
 }

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */

 fieldset {
 	border: 1px solid #c0c0c0;
 	margin: 0 2px;
 	padding: 0.35em 0.625em 0.75em;
 }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

 legend {
 	box-sizing: border-box; /* 1 */
 	color: inherit; /* 2 */
 	display: table; /* 1 */
 	max-width: 100%; /* 1 */
 	padding: 0; /* 3 */
 	white-space: normal; /* 1 */
 }

/**
 * Remove the default vertical scrollbar in IE.
 */

 textarea {
 	overflow: auto;
 }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */

 [type="checkbox"],
 [type="radio"] {
 	box-sizing: border-box; /* 1 */
 	padding: 0; /* 2 */
 }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

 [type="number"]::-webkit-inner-spin-button,
 [type="number"]::-webkit-outer-spin-button {
 	height: auto;
 }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

 [type="search"] {
 	-webkit-appearance: textfield; /* 1 */
 	outline-offset: -2px; /* 2 */
 }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on OS X.
 */

 [type="search"]::-webkit-search-cancel-button,
 [type="search"]::-webkit-search-decoration {
 	-webkit-appearance: none;
 }

/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */

 ::-webkit-input-placeholder {
 	color: inherit;
 	opacity: 0.54;
 }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

 ::-webkit-file-upload-button {
 	-webkit-appearance: button; /* 1 */
 	font: inherit; /* 2 */
 }
 @font-face {
 	font-family: 'AGildia';
 	src: url('../fonts/7611.eot');
 	src: url('../fonts/7611.woff2') format('woff2'),
 	url('../fonts/7611.eot?#iefix') format('embedded-opentype');
 	font-weight: normal;
 	font-style: normal;
 }

 @font-face {
 	font-family: 'AGildia';
 	src: url('../fonts/AGildia.woff') format('woff'),
 	url('../fonts/AGildia.ttf') format('truetype'),
 	url('../fonts/AGildia.svg#AGildia') format('svg');
 	font-weight: normal;
 	font-style: normal;
 }


 body{
 	font-family: 'Lato', sans-serif;
 	background: url(../img/fon.jpg);	
 }
.clear{clear: both;}
 header{
 	width: 1170px;
 	margin: 20px auto;
 }
 .logo{
 	display: inline-block;
 	text-decoration: none;
 }
 .logo img{
 	float: left;
 	margin-right: 20px;
 }
 .logo h1{
 	font-family: 'AGildia';
 	font-size: 30px;
 	color: #8cb9d9;
 	letter-spacing: 2px;
 	width: 200px;
 	margin: 0px;
 	float: left;
 }
 .logo p{
 	font-size: 14px;
 	color: #000;
 	font-weight: 700;
 }
 .adress{
 	display: inline-block;
 	margin-left: 30px;
    float: right; 
    text-align: right;
 }
 .adress p{
 	margin: 0px;
 	font-size: 14px;
 	color: #000;
 }
 .topmenu {
 	border-radius: 10px;
 	background: #fefbfb;
 	box-shadow: 0 2px 3px rgba(0,0,0,.11);
 	height: 40px;
 }
 .topmenu ul{
 	list-style: none;
	 position: relative;
 }
 .topmenu li{
 	display: inline-block;
 	line-height: 40px;
 	padding: 0 32px;
 }
 .topmenu a{
 	font-size: 18px;
 	font-weight: 100;
 	text-decoration: none;
 	color: #000;
 }
 .topmenu a:hover{
 	color: #8cb9d9;
 }
.topmenu a.active{
    color: #8cb9d9;
}
 main{
 	width: 1170px;
 	overflow: hidden;
 	margin: 0px auto;
 }
 aside{
 	width: 300px;
 	float: left;
 }
 aside .block-text{
 	padding: 11px;
 }
 .left-menu {
 	list-style: none;
 	padding-left: 0px;
 	margin: 0;
 }
 .left-menu>li{
 	margin-bottom: 10px;
 }
 .left-menu>li>a{
 	text-decoration: none;
 	font-size: 16px;
 	color: #7f7d7d;
 	font-weight: 500;
 	display: block;
 	background: url(../img/strelkagrey.png) no-repeat right center;
 } 
 .left-menu>li>a:hover{
 	color: #000;
 }
 .left-menu>li>a.open{
 	background: url(../img/strelkablue.png) no-repeat right center;
 	color: #8cb9d9;
 }
 /*Под меню*/
 .pod-menu{
 	list-style: none;
 	padding-left: 20px;
 	margin: 0;
 	margin-top: 10px;
 	display: none;
 }
 .left-menu>li>a.open + .pod-menu {
 	display: block;
 }
 .pod-menu>li{
 	margin-bottom: 10px;
 }
 .pod-menu>li>a{
 	text-decoration: none;
 	font-size: 16px;
 	color: #7f7d7d;
 	font-weight: 500;
 	display: block;
 	background: url(../img/strelkagrey.png) no-repeat right center;
 }
 .pod-menu>li>a:hover{
 	color: #000;
 }
 .pod-menu>li>a.open{
 	background: url(../img/strelkablue.png) no-repeat right center;
 	color: #8cb9d9;
 }
 /*под под меню*/
 .pod2-menu{
 	list-style: none;
 	padding-left: 20px;
 	margin: 0;
 	margin-top: 10px;
 	width: 100px;
 	display: none;
 }
 .pod2-menu>li{
 	margin-bottom: 10px;
 }
 .pod2-menu>li>a{
 	text-decoration: none;
 	font-size: 16px;
 	color: #8cb9d9;
 	font-weight: 500;
 	display: block;
 }
 .pod2-menu>li a:hover{
 	color: #8cb9d9;
 	font-weight: bold;
 }
 .pod-menu>li>a.open + .pod2-menu{
 	display: block;
 }
 /*календарь*/
 .kalendar{
 	text-align: center;
 }
 .kalendar select{
 	background: #f1f1f1;
 	font-size: 14px;
 	padding-left: 10px;
 	color: #787878;
 	font-weight: 500;
 	border-radius: 5px;
 }
 .kalendar table{
 	margin-top: 20px;
 	width: 100%;
 }
 .kalendar table a{
 	text-decoration:none;
 	font-size: 14px;
 	color: #000;
 	font-weight: 500;
 }
 section{
 	width: 847px;
 	float: right;
 }
 .block-text{
 	background: #fefbfb;
 	border: 1px solid #dcdada;
 	border-radius: 8px;
 	padding: 30px 30px 30px;
 	margin-bottom: 20px;
 }
 .block-text h2{
 	font-size: 20px;
 	color: #000;
 	font-weight: bold;
 }
 .block-text  p{
 	font-size: 16px;
 	color: #000;
 	font-weight: bold;
 	margin: 0;

 }
 .block-text h3{
 	margin: 0 auto;
 	margin-top: 25px;
 	font-size: 18px;
 	color: #000;
 	font-weight: bold;
 }
 button {
 	width: 280px;
 	height: 34px;
 	background: #8cb9d9;
 	font-size: 17px;
 	color: #fefbfb;
 	border-radius: 8px;
 	font-weight: 100;
 	margin-top: 24px;
 	border: none;
 	box-shadow: 2px 2px 3px rgba(57,57,57,.32); 
 }
 .format{
 	margin-top: 25px;
 }
 .format span{
 	font-size: 16px;
 	color: #000;
 }
 .format select{
 	margin-left: 15px;
 	border-radius: 5px;
 	background: #f1f1f1;
 	height: 29px;
 	width: 104px;
 	font-size: 14px;
 	padding-left: 10px;
 	color: #787878;
 	font-weight: 500;
 }
 article {
 	width: 377px;
 	height: 184px;
 	background: #f1f1f1;
 	border-radius: 8px;
 	margin:0;
 	display: inline-block;
 	vertical-align: top;
 	margin-top: 30px;
 	margin-right: 27px;
 }
 .meet article:nth-child(even){
 	margin-right: 0px;
 }
 .meet img{
 	margin: 17px 17px 0 17px;
 	float: left; 
 }
 .meet h1{
 	font-size: 16px;
 	color: #000;
 	font-weight: 600;
 	display: inline-block;
 	margin:0;
 	margin-top: 17px;
 }
 .meet h4 {
 	font-size: 16px;
 	color: #787878;
 	font-weight: 500;
 	display: inline-block;
 	margin:0;
 }
 .meet h5 {
 	font-size: 16px;
 	color: #787878;
 	font-weight: 500;
 	display: inline-block;
 	margin:0;
 }
 .meet a{
 	font-size: 14px;
 	display: block;
 	margin-top: 1px;
 	color: #787878;
 	font-weight: 100; 
 	width: 310px;
 	font-style: italic;


 }
 article p.data{
 	font-size: 16px;
 	color: #000;
 	margin: 0;
 	text-align: right;
 	text-align: right;
 	margin-right: 15px;
 	margin-top: 9px;
 }
 article p.time{
 	color: #a68934;
 	font-size: 15px;
 	text-align: right;
 	margin-right: 15px;

 }
 .time span{
 	font-size: 24px;
 }
 .meet-footer{
 	margin-top: 25px;
 }
 .meet-footer p{
 	margin: 0;
 	margin-left: 20px;
 	margin-top: 2px;
 }
 .meet-footer a{
 	text-decoration: none;
 	font-size: 16px;
 	font-weight: 500;
 	color: #000;

 }
 footer{
 	background: #4e4e4e;
 	background: -moz-linear-gradient(top,  #4e4e4e 1%, #707070 31%, #707070 31%, #6c6c6c 100%);
 	background: -webkit-linear-gradient(top,  #4e4e4e 1%,#707070 31%,#707070 31%,#6c6c6c 100%);
 	background: linear-gradient(to bottom,  #4e4e4e 1%,#707070 31%,#707070 31%,#6c6c6c 100%);
 	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4e4e4e', endColorstr='#6c6c6c',GradientType=0 );

 	margin: 0 auto;
 }
 footer .nav{


 }

 nav.menu{
 	width: 1170px;
 	margin: 0 auto;
 	overflow: hidden;
 	height: 95px;

 }
.part1 p{
    margin-right: 100px;
}
 .part1 span{
 	float: right;
 	margin-right: 25px;
 }
 .part2 span{
 	float: right;
 	margin-right: 25px;
 }
 footer .part1{
 	display: inline-block;
 	font-size: 14px;
 	color: #fff;
 	margin-top: 18px;
 	width: 1050px;
 	text-align: left;
 }
 footer .part2 {
 	display: inline-block;
 	font-size: 14px;
 	color: #fff;
 	margin-top: 15px;
 	width: 1050px;
 	text-align: left;

 }


 footer p{
 	display: inline-block;
 	margin:0;
 }
 footer a{
 	display: inline-block;
 	color: #fff;
 	text-decoration: none;
 	margin-left: 50px;
 }
 footer .part2 a:first-child{
 	margin:0;
 }
 .menu img{
 	margin:0;
 	margin-left: 25px;
 	margin-top: -7px;
 }
 .vk{
 	float: right;
 	margin-top: -40px;
 	margin-right: 50px;
 }
 /* Auction */
p, h2, h3, h1{
    margin: 0;
}
.auction_wrapp{
    height: auto;
    background: #fefbfb;
    width: 785px;
    border: 1px solid #dcdada;
    border-radius: 8px;
    float: left;
    margin-bottom: 20px;
    padding: 26px 30px 30px 30px;
}
.auction_wrapp h2{
    font: 20px 'Lato', sans-serif;
    color: #8cb9d9;
    font-weight: 900;
}
.auction_wrapp .ico{
    width: 110px;
    height: 150px;
    float: left;
    margin: 7px 20px 0 0;
}
.auction_wrapp h3{
    font: 16px 'Lato', sans-serif;
    color: #000;
    padding-top: 4px;
}
.auction_wrapp .priceBl{
    float: right;
    height: 31px;
    margin-top: 21px;
}
.auction_wrapp .priceBl .txt_1{
    font: 16px 'Lato', sans-serif;
    color: #000;
    float: left;
    margin: 0;
    padding-right: 7px;
    line-height: 31px;
}
.auction_wrapp .priceBl .priceBt{
    height: 31px;
    font: 16px 'Lato', sans-serif;
    color: #fff;
    line-height: 30px;
    padding: 0 7px;
    background: #c6a239;
    border-radius: 8px;
    float: left;
    display: block;
    text-decoration: none;
    margin-left: 9px;
}
.auction_wrapp .priceBl .priceBt:hover{
    background: #8cb9d9;
    color: #000;
}
.auction_wrapp table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background: #fff;
    border-radius: 8px;
}
.auction_wrapp table tr:nth-child(2n){
    background: #f1f1f1;
}
.auction_wrapp table th{
    border-right: 1px solid #dcdada;
    background: #c6a239;
    height: 42px;
    color: #fff;
    font: 16px 'Lato', sans-serif;
}
.auction_wrapp table td{
    border: 1px solid #dcdada;
    font: 14px 'Lato', sans-serif;
    text-align: center;
    padding: 6px 0;
}
.auction_wrapp table td:last-child{
    width: 93px;
}
.auction_wrapp table .opis{
    width: 264px;
    text-align: left;
    margin: 0 auto;
}
.auction_wrapp .pageBl{
    margin-top: 30px;
}
.auction_wrapp .pageBl .txt_2{
    font: 16px 'Lato', sans-serif;
    color: #000;
    float: left;
    line-height: 28px;
    margin-right: 14px;
}
.auction_wrapp .pageBl .txt_3{
    font: 16px 'Lato', sans-serif;
    color: #000;
    float: left;
    line-height: 28px;
    margin-left: 8px;
}
.auction_wrapp .pageBl .number{
    width: 28px;
    height: 28px;
    border-radius: 4px;
    float: left;
    text-align: center;
    line-height: 26px;
    margin: 0 0 8px 8px;
    cursor: pointer;
    background: #f5eff0;
    border: 1px solid #d8d3d4;
}
/* Auction */
/* Archive-auctions */
.wrapp_arh{
    width: 815px;
    height: auto;
    background: #fefbfb;
    border: 1px solid #dcdada;
    border-radius: 8px;
    padding: 6px 0 30px 30px;
    margin-bottom: 20px;
}
.wrapp_arh h2{
    font: 20px 'Lato', sans-serif;
    font-weight: 900;
    padding-bottom: 12px;
}
.wrapp_arh table{
    border-collapse: collapse;
    margin-right: 30px;
}
.wrapp_arh td{
    border: 1px solid #dcdada;
    padding: 14px 0 16px 20px;
}
.wrapp_arh td:first-child{
    font: 16px 'Lato', sans-serif;
    width: 338px;
}
.wrapp_arh td:nth-child(2){
    width: 406px;
}
.wrapp_arh td a{
    font: 16px 'Lato', sans-serif;
    font-weight: 300;
    color: #395161;
    display: block;
}
.wrapp_arh td a:hover{
    text-decoration: none;
}
/* Archive-auctions */
/* Catalog */
p, h2, h3, h1{
    margin: 0;
}
.catalog_wrapp{
    height: auto;
    background: #fefbfb;
    width: 785px;
    border: 1px solid #dcdada;
    border-radius: 8px;
    float: left;
    margin-bottom: 20px;
    padding: 26px 30px 30px 30px;
}
.catalog_wrapp h2{
    font: 20px 'Lato', sans-serif;
    color: #000;
    font-weight: 900;
    padding-bottom: 20px;
}
.catalog_wrapp .txt_1{
    font: 16px 'Lato', sans-serif;
    padding-top: 4px;
    color: #000;
}
.catalog_wrapp .txt_1 a{
    color: #8cb9d9;
    text-decoration: underline;
}
.catalog_wrapp .txt_1 a:hover{
    text-decoration: none;
}
.catalog_wrapp .filterBl{
    width: 100%;
    height: 89px;
    background: #f1f1f1;
    border-radius: 8px;
    margin-top: 34px;
}
.catalog_wrapp .filterBl .bitkinBl{
    margin-left: 21px;
    float: left;
    width: 516px;
    height: 89px;
    border-right: 1px solid #e5e5e5;
}
.catalog_wrapp .filterBl .zag{
    font: 16px 'Lato', sans-serif;
    padding-top: 12px;
    font-weight: 600;
    padding-bottom: 18px;
}
.catalog_wrapp .filterBl .txt_2{
    font: 16px 'Lato', sans-serif;
    font-weight: 300;
    float: left;
    line-height: 25px;
}
.catalog_wrapp .filterBl select{
    width: 154px;
    height: 27px;
    border: 1px solid #dddddd;
    border-radius: 4px;
    font: 14px 'Lato', sans-serif;
    font-weight: 200;
    margin: 0 20px;
    cursor: pointer;
    float: left;
}
.catalog_wrapp .filterBl input[type=text]{
    width: 59px;
    height: 23px;
    border: 1px solid #dddddd;
    border-radius: 4px;
    font: 14px 'Lato', sans-serif;
    font-weight: 200;
    margin-left: 20px;
    float: left;
    padding-left: 10px;
}
.catalog_wrapp .filterBl .findBt{
    height: 25px;
    width: 65px;
    text-align: center;
    color: #fff;
    display: block;
    text-decoration: none;
    font: 16px 'Lato', sans-serif;
    border-radius: 4px;
    cursor: pointer;
    background: #8cb9d9;
    line-height: 24px;
    float: left;
    margin-left: 20px;
    -webkit-box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.39);
    -moz-box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.39);
    box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.39);
}
.catalog_wrapp .filterBl .yearBl{
    float: left;
    width: 195px;
    height: 89px;
    padding-left: 47px;
    border-left: 1px solid #fefbfb;
}
.catalog_wrapp .wrapp_Ico .ico{
    width: 131px;
    height: 168px;
    display: block;
    float: left;
    border-radius: 4px;
    margin-right: 30px;
    text-align: center;
    margin-top: 30px;
    border: 1px solid #dcdada;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);
}
.catalog_wrapp .wrapp_Ico .ico:nth-child(5n){
    margin-right: 0;
}
.catalog_wrapp .wrapp_Ico .ico .txt_3{
    font: 14px 'Lato', sans-serif;
    padding-top: 11px;
    padding-bottom: 6px;
}
.catalog_wrapp .wrapp_Ico .ico a{
    font: 16px 'Lato', sans-serif;
    color: #8cb9d9;
    display: block;
    text-decoration: underline;
}
.catalog_wrapp .wrapp_Ico .ico a:hover{
    text-decoration: none;
}
/* Catalog */
/* Coin */
.aboutCoin p{
    margin: 0;
}
.navCoinBg{
    background: #4e4e4e;
    background: -moz-linear-gradient(top,  #4e4e4e 1%, #707070 31%, #707070 31%, #6c6c6c 100%);
    background: -webkit-linear-gradient(top,  #4e4e4e 1%,#707070 31%,#707070 31%,#6c6c6c 100%);
    background: linear-gradient(to bottom,  #4e4e4e 1%,#707070 31%,#707070 31%,#6c6c6c 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4e4e4e', endColorstr='#6c6c6c',GradientType=0 );
}
.navCoin{
    width: 750px;
    height: 87px;
    margin: 0 auto;
}
.navCoin .backBt{
    width: 29px;
    height: 19px;
    display: block;
    float: left;
    margin-top: 34px;
    background: url(../img/backButtonCoin.png);
}
.navCoin .priceBl{
    float: right;
    margin-top: 28px;
}
.navCoin .priceBl .txt_1{
    font: 16px 'Lato', sans-serif;
    color: #fff;
    float: left;
    margin: 0;
    padding-right: 7px;
    line-height: 31px;
}
.navCoin .priceBl .priceBt{
    height: 31px;
    font: 16px 'Lato', sans-serif;
    color: #fff;
    line-height: 30px;
    padding: 0 7px;
    background: #c6a239;
    border-radius: 8px;
    float: left;
    display: block;
    text-decoration: none;
    margin-left: 9px;
}
.navCoin .priceBl .priceBt:hover{
    background: #8cb9d9;
    color: #000;
}
/* --- */
.aboutCoin{
    width: 815px;
    padding: 6px 0 30px 30px;
    height: auto;
}
.aboutCoin .firstBl,
.aboutCoin .secondBl{
    width: 345px;
    background: #fff;
    border: 1px solid #dcdada;
    border-radius: 6px;
    padding: 10px 10px;
}
.aboutCoin .firstBl{float: left;}
.aboutCoin .secondBl{float: right;}
.aboutCoin .firstBl .txt_1{
    font: 18px 'Lato', sans-serif;
    color: #8cb9d9;
    padding-top: 17px;
}
.aboutCoin .firstBl .txt_2{
    font: 16px 'Lato', sans-serif;
    color: #000;
}
.aboutCoin .secondBl .txt_3{
    font: 18px 'Lato', sans-serif;
    color: #000;
}
.aboutCoin .secondBl .txt_3 span{
    color: #8cb9d9;
}
.aboutCoin .secondBl .txt_4{
    padding-top: 16px;
}
.aboutCoin .fotoBl{
    width: 815px;
    height: auto;
    text-align: center;
    background: #fff;
    border-radius: 6px;
    padding-bottom: 20px;
    margin-top: 20px;
    border: 1px solid #dcdada;
}
.aboutCoin .fotoBl .txt_1{
    font: 18px 'Lato', sans-serif;
    color: #000;
    font-weight: 900;
    padding: 15px 0 0 20px;
    text-align: left;

}
.aboutCoin .fotoBl .txt_2{
    font: 16px 'Lato', sans-serif;
    color: #000;
    padding: 0 0 0 20px;
    text-align: left;
    line-height: 20px;
}
.aboutCoin .fotoBl .coinIco{
    max-width: 706px;
    height: auto;
    margin-top: 10px;
}
/* Coin */
/* Auction */
p, h2, h3, h1{
    margin: 0;
}
.auction_wrapp{
    height: auto;
    background: #fefbfb;
    width: 785px;
    border: 1px solid #dcdada;
    border-radius: 8px;
    float: left;
    margin-bottom: 20px;
    padding: 26px 30px 30px 30px;
}
.auction_wrapp h2{
    font: 20px 'Lato', sans-serif;
    color: #000;
    font-weight: 700;
}
.auction_wrapp .txt_1{
    font: 16px 'Lato', sans-serif;
    color: #000;
    padding-top: 18px;
}
.auction_wrapp h3{
    font: 20px 'Lato', sans-serif;
    color: #8cb9d9;
    font-weight: 500;
    padding-top: 28px;
}
.wrapp_table table,
.auction_wrapp table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background: #f1f1f1;
    border-radius: 8px;
}
.wrapp_table table tr:nth-child(2n),
.auction_wrapp table tr:nth-child(2n){
    background: #f1f1f1;
}
.wrapp_table table .grey,
.auction_wrapp table .grey{
    background: #f1f1f1;
}
.wrapp_table table th,
.auction_wrapp table th{
    border-right: 1px solid #dcdada;
    background: #c6a239;
    height: 42px;
    color: #fff;
    font: 16px 'Lato', sans-serif;
}
.wrapp_table table td,
.auction_wrapp table td{
    border: 1px solid #dcdada;
    font: 14px 'Lato', sans-serif;
    text-align: center;
    padding: 6px 0;
}
.wrapp_table table td:last-child,
.auction_wrapp table td:last-child{
    width: 93px;
}
.wrapp_table table .opis,
.auction_wrapp table .opis{
    width: 190px;
    text-align: left;
    margin: 0 auto;
}
.wrapp_table table .gurt,
.auction_wrapp table .gurt{
    width: 30px;
    height: 30px;
    background: #e7bd43;
    text-align: center;
    margin: 0 auto;
    font: 14px 'Lato', sans-serif;
    line-height: 29px;
    border-radius: 4px;
    -webkit-box-shadow: inset 1px 1px 3px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 1px 1px 3px 1px rgba(0,0,0,0.75);
    box-shadow: inset 1px 1px 3px 1px rgba(0,0,0,0.75);
}
/* -- */
.wrapp_table{
    height: auto;
    background: #fefbfb;
    width: 785px;
    border: 1px solid #dcdada;
    border-radius: 8px;
    float: left;
    margin-bottom: 20px;
    padding: 26px 30px 30px 30px;
}
.wrapp_table h3{
    font: 20px 'Lato', sans-serif;
    color: #8cb9d9;
    font-weight: 500;
}
/* -- */
.wrapp_otherLink{
    height: auto;
    background: #fefbfb;
    width: 785px;
    border: 1px solid #dcdada;
    border-radius: 8px;
    float: left;
    margin-bottom: 20px;
    padding: 25px 30px 30px 30px;
}
.wrapp_otherLink h3{
    font: 20px 'Lato', sans-serif;
    font-weight: 700;
    padding-bottom: 16px;
}
.wrapp_otherLink ul{
    margin: 0 0 0 16px;
    padding: 0;
}
.wrapp_otherLink li{
    list-style: disc;
    color: #8cb9d9;
    list-style-position: outside;
    font: 14px 'Lato', sans-serif;
}
.wrapp_otherLink li span{
    color: #000;
}
a{
    font: 14px 'Lato', sans-serif;
    color: #395161;
    text-decoration: underline;
}
.wrapp_otherLink a:hover{
    text-decoration: none;
}
/* Auction */
/* Coin */
p, h2, h3{
    margin: 0;
}
.wrapp_coin .fotoBl{
    height: auto;
    background: #fefbfb;
    width: 785px;
    border: 1px solid #dcdada;
    border-radius: 8px;
    float: left;
    padding: 22px 30px 30px 30px;
}
.wrapp_coin .fotoBl h2{
    font: 20px 'Lato', sans-serif;
    color: #8cb9d9;
    font-weight: 900;
}
.wrapp_coin .fotoBl h3{
    font: 16px 'Lato', sans-serif;
    color: #000;
    margin-bottom: 8px;
}
.wrapp_coin .fotoWrapp{
    display: table;
    float: left;
}
.wrapp_coin .fotoBl .foto{
    width: 523px;
    height: 339px;
    border-radius: 8px;
    -webkit-box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.14);
    -moz-box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.14);
    box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.14);
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    border: 1px solid #dcdada;
}
.wrapp_coin .opisBl{
    width: 231px;
    height: 160px;
    float: right;
    overflow: hidden;
    -webkit-box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.14);
    -moz-box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.14);
    box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.14);
    border-radius: 8px;
}
.wrapp_coin .opisBl .zag{
    font: 16px 'Lato', sans-serif;
    color: #fff;
    background: #c6a239;
    width: 231px;
    height: 43px;
    text-align: center;
    line-height: 43px;
}
.wrapp_coin .opisBl .txt{
    width: 200px;
    height: 104px;
    padding: 12px 10px 0 19px;
    border: 1px solid #dcdada;
    background: #fff;
    border-top: none;
    font: 14px 'Lato', sans-serif;
    font-weight: 300;
    border-radius: 0 0 8px 8px;
}
.wrapp_coin .opisBl_mar{
    margin-top: 21px;
}
/* -- */
.fixedPrice_wrapp{
    height: auto;
    background: #fefbfb;
    width: 785px;
    border: 1px solid #dcdada;
    border-radius: 8px;
    padding: 22px 30px 30px 30px;
    margin-top: 20px;
}
.fixedPrice_wrapp h2{
    font: 20px 'Lato', sans-serif;
    color: #8cb9d9;
    font-weight: 900;
}
.fixedPrice_wrapp .txt_1{
    font: 16px 'Lato', sans-serif;
    color: #000;
    padding-top: 4px;
}
.fixedPrice_wrapp .filterBl{
    width: 100%;
    height: 57px;
    background: #f1f1f1;
    border-radius: 8px;
    margin-top: 18px;
}
.fixedPrice_wrapp .filterBl .txt_2{
    font: 16px 'Lato', sans-serif;
    color: #000;
    line-height: 57px;
    padding-left: 21px;
    float: left;
}
.fixedPrice_wrapp .filterBl select{
    font: 14px 'Lato', sans-serif;
    font-weight: 300;
    width: 109px;
    height: 25px;
    border: 1px solid #dddddd;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 17px;float: left;
    margin-left: 20px;
}
.fixedPrice_wrapp .filterBl .button{
    height: 25px;
    color: #fff;
    font: 14px 'Lato', sans-serif;
    border-radius: 4px;
    margin-top: 17px;
    padding: 0 8px;
    cursor: pointer;
    float: left;
    line-height: 24px;
    margin-left: 20px;
    -webkit-box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.39);
    -moz-box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.39);
    box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.39);
}
.fixedPrice_wrapp .filterBl .findBt{
    background: #8cb9d9;
}
.fixedPrice_wrapp .filterBl .resetBt{
    background: #395161;
}
.fixedPrice_wrapp .priceBl{
    float: right;
    height: 31px;
    margin-top: 13px;
}
.fixedPrice_wrapp .priceBl .txt_3{
    font: 16px 'Lato', sans-serif;
    color: #000;
    float: left;
    margin: 0;
    padding-right: 7px;
    line-height: 31px;
}
.fixedPrice_wrapp .priceBl .priceBt{
    height: 31px;
    font: 16px 'Lato', sans-serif;
    color: #fff;
    line-height: 30px;
    padding: 0 7px;
    background: #c6a239;
    border-radius: 8px;
    float: left;
    display: block;
    text-decoration: none;
    margin-left: 9px;
}
.fixedPrice_wrapp .priceBl .priceBt:hover{
    background: #8cb9d9;
    color: #000;
}
.fixedPrice_wrapp table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background: #fff;
    border-radius: 8px;
}
.fixedPrice_wrapp table tr:nth-child(2n){
    background: #f1f1f1;
}
.fixedPrice_wrapp table th{
    border-right: 1px solid #dcdada;
    background: #c6a239;
    height: 42px;
    color: #fff;
    font: 16px 'Lato', sans-serif;
}
.fixedPrice_wrapp table td{
    border: 1px solid #dcdada;
    font: 14px 'Lato', sans-serif;
    text-align: center;
    padding: 6px 0;
}
.fixedPrice_wrapp table td:last-child{
    width: 93px;
}
.fixedPrice_wrapp table .button{
    width: 40px;
    height: 40px;
    display: block;
    background: url(../img/tableBt.png);
    margin: 0 auto;
}
/* -- */
.otherLink_wrapp{
    height: auto;
    background: #fefbfb;
    width: 785px;
    border: 1px solid #dcdada;
    border-radius: 8px;
    padding: 10px 30px 30px 30px;
    margin: 20px 0;
}
.otherLink_wrapp h2{
    font: 20px 'Lato', sans-serif;
    color: #000;
    font-weight: 900;
    padding-top: 12px;
    padding-bottom: 14px;
}
.otherLink_wrapp .link{
    font: 16px 'Lato', sans-serif;
    font-weight: 300;
    color: #395161;
    display: block;
    text-decoration: underline;
}
.otherLink_wrapp .link:hover{
    text-decoration: none;
}
/* Coin */

/* ====================================================================================================================
 * RESETS
 * ====================================================================================================================*/
 .flex-container a:hover,
 .flex-slider a:hover {
  outline: none;
}
.slides,
.slides > li,
.flex-control-nav,
.flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}
.flex-pauseplay span {
  text-transform: capitalize;
}
/* ====================================================================================================================
 * BASE STYLES
 * ====================================================================================================================*/
 .flexslider {
  margin: 0;
  padding: 0;
}
.flexslider .slides > li {
  display: none;
  -webkit-backface-visibility: hidden;
}
.flexslider .slides img {
  width: 100%;
  display: block;
}
.flexslider .slides:after {
  content: "\0020";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
html[xmlns] .flexslider .slides {
  display: block;
}
* html .flexslider .slides {
  height: 1%;
}
.no-js .flexslider .slides > li:first-child {
  display: block;
}
/* ====================================================================================================================
 * DEFAULT THEME
 * ====================================================================================================================*/
 .flexslider {
  margin: 0 0 18px;
  position: relative;
  zoom: 1;
}
.flexslider .slides {
  zoom: 1;
}
.flexslider .slides img {
  border-radius: 10px;
  height: auto;
  -moz-user-select: none;
}
.flex-viewport {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
.loading .flex-viewport {
  max-height: 300px;
}
.carousel li {
  margin-right: 5px;
}
.flex-direction-nav {
  *height: 0;
}
.flex-direction-nav a {
  text-decoration: none;
  display: block;
  width: 12px;
  height: 19px;
  margin: -10px 0 0;
  position: absolute;
  top: 50%;
  z-index: 10;
  overflow: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}


.flex-direction-nav .flex-prev {
  left: 14px;
  background: url(../img/prev.png);
}
.flex-direction-nav .flex-next {
  right: 14px;
  background: url(../img/next.png);
}
.flex-direction-nav .flex-disabled {
  opacity: 0!important;
  filter: alpha(opacity=0);
  cursor: default;
  z-index: -1;
}
.flex-pauseplay a {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 5px;
  left: 10px;
  opacity: 0.8;
  z-index: 10;
  overflow: hidden;
  cursor: pointer;
  color: #000;
}
.flex-pauseplay a:before {
  font-family: "flexslider-icon";
  font-size: 20px;
  display: inline-block;
  content: '\f004';
}
.flex-pauseplay a:hover {
  opacity: 1;
}
.flex-pauseplay a.flex-play:before {
  content: '\f003';
}
.flex-control-nav {
  width: 100%;
  position: absolute;
  bottom: 22px;
  text-align: center;
}
.flex-control-nav li {
  margin: 0 5px;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.flex-control-paging li a {
  width: 10px;
  height: 10px;
  display: block;
  background: #fff;
  cursor: pointer;
  text-indent: -9999px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}
.flex-control-paging li a:hover {
  background: #8cb9d9;
}
.flex-control-paging li a.flex-active {
  background: #8cb9d9;
  cursor: default;
}
.flex-control-thumbs {
  margin: 5px 0 0;
  position: static;
  overflow: hidden;
}
.flex-control-thumbs li {
  width: 25%;
  float: left;
  margin: 0;
}
.flex-control-thumbs img {
  width: 100%;
  height: auto;
  display: block;
  opacity: .7;
  cursor: pointer;
  -moz-user-select: none;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
.flex-control-thumbs img:hover {
  opacity: 1;
}
.flex-control-thumbs .flex-active {
  opacity: 1;
  cursor: default;
}
/* ====================================================================================================================
 * RESPONSIVE
 * ====================================================================================================================*/
 @media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev {
    opacity: 1;
    left: 10px;
  }
  .flex-direction-nav .flex-next {
    opacity: 1;
    right: 10px;
  }
}
.fixedPrice_wrapp table td{
    padding: 5px;
}
.auction_wrapp table td {
    padding: 5px;
}
.active_page{
    background: #d3cdd0 none repeat scroll 0 0!important;
}
.wrapp_arh table td {
    padding: 10px;
}
.none_bold{
    font-weight: normal!important;
}
#find_input{
	display: inline-block;
	width: 50%;
	height: 30px;
	font-size: 20px;
}
#search_send{
	display: inline-block;
	height: 30px;
	line-height: 30px;
	font-size: 20px;
	background: #c6a239;
	width: 100px;
}
#founded_monets{
	background: #FFFFFF;
	width: 50%;
	position: absolute;
}
.founded_item{
	padding: 5px 10px;
	cursor: pointer;
}
#search_form{
	position: relative;
	width: 50%;
}
.search_block{
	position: absolute;
	right: 0px;
	width: 300px;
	height: 40px;
	padding-right: 0px!important;
}
#search_in_menu{
	height: 24px;
	width: 200px;
}
#search_in_menu_find{
	width: 80px;
	height: 40px;
	display: inline-block;
	text-align: center;
	cursor: pointer;
}
#founded_in_menu{
	position: absolute;
	top: 100%;
	right: 0px;
	width: 300px;
	background: #ffffff;
	max-height: 400px;
	overflow: hidden;
	z-index: 1;
}