/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

#footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}
.menu_top{
  background: #C2C2C2;
  max-height: 87px;
}
.top_menu_links{
  padding-top: 18px;
}
.top_menu_links li{
  background: #263A75;
}
.top_menu_links li a{
  color: #ffffff!important;
}
.top_header{
  margin: 0;
  color: #263A75;
  font-weight: bold;
  padding: 0 0 0 10px;
}
h3.top_header{
  font-weight: normal;
}
.main_wrapper{
  margin: 27px 0 20px;
}
ul{
  martin: 0;
  padding: 0;
}
li{
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-type: none;
}
.left_column{
  padding: 0px 0px 10px 0px;
}
.left_column{
  background: #263A75;
  color: #ffffff;
}
.catalog_menu li span{
  display: block;
  padding: 10px;
  cursor: pointer;
}
.catalog_menu li a{
  display: block;
  padding: 5px 20px 5px 20px;
  cursor: pointer;
}
.catalog_second_menu li{
  color: #263A75;
}
.catalog_second_menu, .years_wrapper{
  background: #EFEFEF;
}
.years_wrapper{
  padding: 5px;
}
#years_list{
  text-align: justify;
  padding: 10px;
}
#years_list a{
  display: inline-block;
  margin-right: 5px;
}
.right_column{
  padding: 10px 0px 10px 10px;
}
.search_addon{
  color: #ffffff;
  background: #263A75;
  border-left: none;
}
.no_bottom_margin{
  margin-bottom: 0px!important;
}
.table thead{
  background: #263A75;
  color: #ffffff;
  vertical-align: middle;
  text-align: center;
}
.table td{
  vertical-align: middle;
  text-align: center;
  color: #263A75;
}
.table tbody{
  background: #EFEFEF;
}
#footer{
  background: #C2C2C2;

}
.color_blue{
  color: #263A75!important;
}
a{
  cursor: pointer;
}